@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/home.css" rel="stylesheet" type="text/css"/>
<div class="text-center">
    <div class="container my-container">
        <div class="row vcenter">
            <div class="col-lg-6  col-md-12 my-column text-center" >
                <h1>New Log</h1>
            </div>
            <div class="col-lg-1  col-md-12 my-column">
                log 1
            </div>
            <div class="col-lg-1 col-md-12 my-column">
                log 2
            </div>
            <div class="col-lg-1 col-md-12 my-column">
                log 3
            </div>
            <div class="col-lg-1 col-md-12 my-column">
                log 4
            </div>
            <div class="col-lg-1 col-md-12 my-column">
                log 5
            </div>
            <div class="col-lg-1 col-md-12 my-column">
                log 6
            </div>
        </div>

        <div class="row weather-row">
            <div class="col my-column text-center">
                <h1>Weather</h1>
            </div>
        </div>
    </div>
</div>
